<div class="container">

    <article> 
        <header class="title">
            Meet our Team 
        </header>

        <div class="grid">
            <article>
                <header class="box">
                    <img src="https://cdn.discordapp.com/attachments/1007326527047864363/1012198357080489994/unknown.png" alt="Nisan Shrestha"></img>
                </br>
                    <strong><div class="name">Nisan Shrestha</div></strong>    
                </header>
                <div>Hello, I am nisan</div>
               </article> 

               <article>
                <header class="box">
                    <img src="https://cdn.discordapp.com/attachments/1007326527047864363/1012197646825443389/unknown.png" alt="Pramish Aryal"></img>
                </br>
                    <strong><div class="name">Pramish Aryal</div></strong>    
                </header>
                <div>Hello, I am nisan</div>
            </article>  

               <article>
                <header class="box">
                    <img src="https://cdn.discordapp.com/attachments/961669125116145736/1012189872766849024/unknown.png" alt="Nisan Shrestha"></img>
                </br>    
                    <strong><div class="name">Pranab Ratna Gubhaju</div></strong>    
                </header>
                <div>Hello, I am nisan</div>
               </article>  


            </div>

    </article>
</div>
    <style>
        .title{
            font-size: 50px;
        }
        .box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 256.69px;
            height: 256.69px;
            border-radius: 50%;
        }
        .name{
            color:aliceblue;
            font-size: 20px;
        }
    </style>
